*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.header{
    display: flex;
    flex-wrap: wrap;
    gap: calc((100% - 277px) / 4);
    margin: 28px 165px;
}
.Links ul{
    display: flex;
    gap: 60px;
}
.Icons ul{
    display: flex;
    gap: 24px;
}
.eCommerceCardsV1{
    display: flex;
    width: 255px;
    gap: 30px;
    text-align: center;
    margin: 28px 165px;
}
@media (max-width: 1024px) {

    .header {
        margin: 20px 40px;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .Links ul {
        gap: 30px;
        font-size: 14px;
    }
    .Icons ul {
        gap: 15px;
    }

    .eCommerceCardsV1 {
        margin:20px 40px;
        flex-wrap:wrap;
        justify-content:center;
    }
    .Cards {
        width:45%;
    }
}
@media (max-width:600px){
    .header {
        margin: 15px 20px;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    .Links ul {
        flex-direction: column;
        gap: 10px;
    }
    .Icons ul {
        justify-content: center;
        gap: 20px;
    }
    .Slinder img{
        width: 100%;
        height: auto;
    }
    .eCommerceCardsV1{
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }
    .Cards{
        width: 100%;
    }
}